<div class="span-17">
<div class="fieldset">
  <%= debug(@user) if Rails.env.development? %>
  <%= form_for @user do |f| %>
    <p>
      <div class="label">
      <%= f.label :name %>
      </div>
      <%= f.text_field :name %>
    </p>
    <p>
      <div class="label">
      <%= f.label :email %>
      </div>
      <%= f.text_field :email %>
    </p>

    <p>
      <div class="label">
      <%= f.label :password %>
      </div>
      <%= f.password_field :password %>
    </p>
    <p>
      <div class="label">
      <%= f.label :password_confirmation %>
      </div>
      <%= f.password_field :password_confirmation %>
    </p>
    <p>
      <div class="label">
      <%= f.label :language, "Language" %><br %>
      </div>
      <div class="select">
	<p>
	  <%= select(:user, :language, [["English", "en"], ["Deutsch", "de"]])  %>
	</p>
      </div>
    </p>
    <p>
      <%= f.submit "Submit" %>
    </p>
  <% end %>
  </div>
  <%= link_to "Back", users_path %><br /><br />
</div>

