<div class="span-24 content-wrap">
  <h3>User List</h3>
  <div class="span-17">
    <table>
      <%#= will_paginate %>
      <tr>
	<th> Name </th>
	<th> Email</th>
      </tr>
      <tr>
	<% for user in @users %>
	  <td><%= user.name %></td>
	  <td><%= user.email %></td>
	  
	  <td>
	    <%= link_to "Show", user %> |
	    <%= link_to "Edit", edit_user_path(user) %> |
	    <%= link_to "Destroy", user, :confirm => "Are you sure?", 
		:method => :delete %><br />
	  </td>
      </tr>
      <% end %>
    </table>
    <%= link_to "New user", new_user_path %><br /><br />
  </div>
</div>
