<div class="span-24">
  <%= semantic_form_for @post do |f| %>
    <%= render "shared/errors" %>
    <%= f.inputs  do %>
      <%= f.input :title %>
      <%= f.input :body  %>
      <%= f.input :published, :as => :radio %>
      <%= f.input :user, :required => true %>
      <%= f.input :category, :label => "Categories" %>
    <% end %>
    
    <% render "categories" %>

    <%= f.buttons do %>
      <%= f.commit_button "Submit" %>
    <% end %>

  <% end %>

</div>

<%#= debug(@post) if Rails.env.development? %>


