
<div class="span-17 colborder content-wrap">

  <h2><%= @post.title %></h2>

<div class="span-3">
    <%= link_to 'Edit', edit_post_path(@post) %> |
    <%= link_to 'Back', posts_path %>
  </div>


  <div class="span-12">
    
      <%=raw RedCloth.new(@post.body).to_html %>  <br />
      <%#= @post.body %>
  </div>

  <hr />

</div>

<div class="span-5" id="sidebar">
  <%= render "shared/sidebar" %>
</div>


