<div class="span-24 content-wrap">
  <div class="span-17">

    <h3><%= @post.title %></h3>

    <div class="span-4">
      <%= time_ago_in_words(@post.created_at) %> ago. <br />
      <%= current_user.name unless current_user.nil?  %><br />
      <%= link_to 'Edit', edit_post_path(@post) %> |
      <%= link_to 'Back', posts_path %> <br />
    </div>

    <div class="span-12">

      <%=raw RedCloth.new(@post.body).to_html %>  <br />
      
      <%#= @post.body %>

    </div>
    <hr />
  </div>

  <div class="span-6 last" id="sidebar">
    <%= render "shared/sidebar" %>
    <%= debug(params) if Rails.env.development? %>
  </div>
  
</div>
