<div class="span-24 content-wrap">
  <br />
  <h3>Categories</h3>
  <div class="span-18">
    <table>
      <tr>
	<th> Category </th>
      </tr>
      <tr>
	<% for category in @categories  %>
	  <td>
	    <%= category.name %>
	  </td>
	  <td>
	    <%= link_to "Show", category %> |
	    <%= link_to "Edit", edit_category_path(category) %> |
	    <%= link_to "Destroy", category, :confirm => "Are you sure?", :method =>
		  :delete %><br />
	  </td>
      </tr>
      <% end %>
    </table>
    <%= link_to "New Category", new_category_path %><br /><br />
  </div>
  <div class="span-6" id="sidebar">
    <%#= render "shared/sidebar" %>
    <%= debug(params) if Rails.env.development? %>
  </div>
</div>
