

<%= banner %>

<div id="header-wrap">
  <header>

    <div class="span-7 large">
      <h1> Ruby Labs  <%= image_tag("logo.gif", :size => "40x25") %></h1>
    </div>

    <div class="span-10 push-8">
      <nav id="nav-top">
	<span class="caps">  
	  <ul>
	    <li><%= link_to "home", :home %></li>
	    <li><%= link_to "about", :about %></li>
	    <li><%= link_to "contact", :contact %></li>
	    <li><%= link_to "blog", :posts %></li>
	  </ul>
	</span>
      </nav>
    </div>

  </header>
</div>

