
<div id="banner">
  <%= image_tag("banner05.gif", :size => "1600x188") %>
</div>

<div id="header">
  <p><h1>Ruby Labs <%= image_tag("logo.gif") %> </h1></p>
</div>

<div id="top_nav">
  <tr>
    <td>
      <ul>
	<li><%= link_to "blog" %></li>
	<li><%= link_to "contact", :contact %></li>
	<li><%= link_to "about", :about %></li>
	<li><%= link_to "home", :home %></li>
      </ul>
    </td>
  </tr>
</div>

