
<div class="span-24">

  <%= banner %>
  <div id="header-wrap">
    <header>
      <div class="span-7 large">
	<h1> Ruby Labs  <%= image_tag("logo.gif", :size => "40x25") %></h1>
      </div>

      <div class="span-10 push-7 last">
	<span class="caps">  
	  <nav id="nav-top">
	    <%= link_to "home", :home %> |
	    <%= link_to "about", :about %> |
	    <%= link_to "contact", :contact %> |
	    <%= link_to "blog", :posts %> |
	    <%= link_to "Wolfram|Alpha", :wolfram_alpha %>
	  </nav>
	</span>
      </div>
     </header>
  </div>
</div>
