<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8"/>
    <title><%= title %></title>
    <%= javascript_include_tag :defaults %>
    <%= render "layouts/stylesheets"%>
    <%= stylesheet_link_tag "flickr" %>
    <%= csrf_meta_tag %>
  </head>

  <body>
    <div class="showgrid">
      <div class="container">
	<%= render "layouts/header" %>

	<% flash.each do |key, value| %>
	  <div class="flash<%= key %>"><%= value %></div>
	<% end %>

<h1> I am from flickr</h1>
	<div class="content-wrap">
	  <%= yield %>
	  <%= render_flickr_sidebar_widget('54215546@N02')%>
	</div>


	<%#= render "layoutes/footer" %>
      </div>
  </body>
</html>
